@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cuprumbold';
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cuprumbolditalic';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'cuprumitalic';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ptsans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsansbold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: cuprum, arial, sans-serif;
}

.top-line {
  background-color: #293449;
}

.top-line a {
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
}

.top-line-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
  min-height: 43px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}

.logo:hover, .footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.logo:active, .footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}

.logo-text {
  margin: 0;
  padding: 8px 56px;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.search-field {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 48px;
  flex-grow: 1;
  font-size: 17px;
  border: none;
  background: url("../img/icon-search.png") no-repeat left 16px center;
  background-color: #293449;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

.search-field::placeholder {
  color: #ffffff;
}

.search-field:focus::placeholder {
  color: #000000;
}

.search-field:hover {
  background-color: #212a3a;
  background: url("../img/icon-search-hover.png") no-repeat left 16px center;
}

.search-field:focus {
  background: url("../img/icon-search-focus.png") no-repeat left 16px center;
  background-color: #ffffff;
  outline: none;
}

.search-field:focus:hover {
  background-color: #ffffff;
}

/*.search-field::-webkit-search-cancel-button {
  display: none;
 }*/

 .top-links:active {
   color: rgba(255, 255, 255, 0.5);
 }

.bookmarks {
  position: relative;
  padding: 12px 28px;
  padding-left: 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 16px;
  height: 16px;
  background: url("../img/icon-bookmark.png") no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover, .cart:hover {
  background-color: #212a3a;
}

.bookmarks:hover::before, .cart:hover::before {
  opacity: 1;
}

.bookmarks:active, .cart:active {
  background-color: #161d29;
}

.bookmarks:active::before, .cart:active::before {
  opacity: 0.5;
}

.cart {
  position: relative;
  padding: 12px 28px;
  padding-left: 48px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 16px;
  height: 16px;
  background: url("../img/icon-cart.png") no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.order {
  padding: 12px 20px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.checkin-block {
  padding-top: 48px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.second-line {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.store-text {
  margin: 0;
  margin-left: 52px;
  padding: 0;
  padding-bottom: 42px;
  font-family: cuprumitalic, arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-inner {
  margin-left: 20px;
}

.phone-number {
  margin: 0px;
  border: 3px solid #ffffff;
}

.phone-text {
  position: relative;
  display: block;
  padding: 8px 36px;
  padding-left: 68px;
  font-size: 21px;
  color: #ee3643;
  text-decoration: none;
}

.phone-text::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  background: url("../img/icon-phone.png") no-repeat;
  background-position: 0 0;
}

.address {
  margin: 0px;
  margin-top: 8px;
  padding: 0 8px;
  padding-bottom: 42px;
  font-size: 14px;
  color: #32425c;
}

.enter-registration {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  padding-bottom: 64px;
  font-size: 21px;
  color: #000000;
  list-style: none;
}

.button {
  display: inline-block;
  margin-left: 4px;
}

.enter-button {
  position: relative;
  display: block;
  padding: 12px 24px;
  padding-left: 48px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.enter-button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login.png") no-repeat;
  background-position: 0 0;
}

.enter-button:hover::before {
  background: url("../img/icon-login-hover.png") no-repeat;
  background-position: 0 0;
}

.enter-button:active::before {
  background: url("../img/icon-login.png") no-repeat;
  background-position: 0 0;
}

.enter-button:hover,
.registration-button:hover,
.enter-button:focus,
.registration-button:focus {
  color: #ee3643;
}

.enter-button:active,
.registration-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.registration-button {
  margin: 0px;
  padding: 12px 24px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  width: 940px;
  min-height: 59px;
  margin: 0 auto;
  padding: 0;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0px 0px rgba(41,52,73,1);
  list-style: none;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: #1d2739;
}

.nav a:active {
  background-color: #1d2739;
  color: #a8abaf;
}

.nav li:first-child a {
  padding-left: 57px;
}

.nav li:last-child a {
  padding-right: 56px;
}

.main-content {
  background-color: #ffffff;
}

.product-inner {
  padding-top: 40px;
}

.product-inner h2, .discount-list h2 {
  margin: 0;
  padding-top: 24px;
  padding-right: 160px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: cuprumbold, arial, sans-serif;
  font-size: 24px;
}

.product-inner a, .discount-list a {
  display: block;
  width: 136px;
  margin: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
  padding: 12px 0;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.materials-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.materials-text:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  min-height: 123px;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.materials-icon {
  position: relative;
  background: url("../img/materials-icon.png") no-repeat right 42px center;
}

.materials-icon::before {
  content: "";
  position: absolute;
  left: 240px;
  width: 60px;
  height: 60px;
  background: url("../img/new-flag.png") no-repeat;
  background-position: 0 0;
}

.instrumens-icon {
  background: url("../img/instrumens-icon.png") no-repeat right 28px center;
}

.technics-icon {
  background: url("../img/technics-icon.png") no-repeat right 28px center;
}

.slider-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 48px;
}

.slider-heading {
  position: absolute;
  top: 20px;
  left: 25px;
  margin: 0px;
  padding: 0px;
  font-family: cuprumbold, arial, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.slider-text {
  position: absolute;
  top: 64px;
  left: 27px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #ffffff;
  z-index: 2;
}

.open-catalog {
  position: absolute;
  bottom: 40px;
  left: 25px;
  padding: 11px 48px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 4px;
  z-index: 2;
}

.bottom-right::after {
  content: "";
  position: absolute;
  bottom: 77px;
  left: 262px;
  display: block;
  width: 22px;
  height: 40px;
  background: url("../img/icon-right.png");
  background-position: 0 0;
}

.bottom-left::after {
  content: "";
  position: absolute;
  bottom: 77px;
  right: 257px;
  display: block;
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.png");
  background-position: 0 0;
}

.wrapper > input {
	display: none;
}

.wrapper {
  position: relative;
  width: 620px;
	height: 286px;
}

.wrapper label {
	position: absolute;
  bottom: 53px;
  width: 6px;
  height: 6px;
  margin-left: 295px;
  background: #ffffff;
  border: 2px solid;
  border-color: #ffffff;
	border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.wrapper label:last-child {
  margin-left: 315px;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2) {
  background: #ee3643;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2) {
}

.slider {
  position: relative;
  width: inherit;
	height: inherit;
	overflow: hidden;
}

.slides {
	position: absolute;
	z-index: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

.discount-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.discounts-icon {
  background: url("../img/discounts-icon.png") no-repeat right 44px center;
}

.delivery-icon {
  background: url("../img/delivery-icon.png") no-repeat right 32px center;
}

.discount {
  width: 300px;
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.discount:nth-child(2) {
  background-color: #ffc047;
}

.product {
  width: 300px;
  margin-top: 20px;
  background-color: #ffbf47;
}

.product:nth-child(2) {
  background-color: #3bbce3;
}

.product:nth-child(3) {
  background-color: #dc91d8;
}

.product-brands {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.product-brands h2 {
  margin: 0;
  padding: 28px;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
}

.product-brands a {
  width: 252px;
  margin: 24px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 4px;
}

.popular-link:hover,
.about-button:hover, .about-button:focus,
.feedback-button:hover, .feedback-button:focus,
.about-feedback:hover, .about-feedback:focus,
.open-catalog:hover,
.ticket-button:hover {
  background-color: #ca2c37;
}

.popular-link:active,
.about-button:active,
.feedback-button:active,
.about-feedback:active,
.open-catalog:active,
.ticket-button:active {
  background-color: #ba2732;
}

.perforator-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  min-height: 316px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.perforator-list h2 {
  margin: 0;
  padding-right: 32px;
  padding-left: 28px;
  font-family: ptsansbold, arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.perforator-list p {
  font-family: ptsansbold, arial, sans-serif;
  font-size: 17px;
}

.perforator {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  min-height: 316px;
  margin-top: 20px;
  box-shadow: inset 0px 0px 0px 1px rgba(234,234,234,1);
}

.perforator-img {
  margin: 1px 1px;
  margin-bottom: 0px;
  padding: 0;
  width: 218px;
  height: 170px;
}

.perforator:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.perforator:hover .buttons {
  display: block;
}

.perforator:hover .perforator-img {
  display: none;
}

.old-price {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 12px;
  padding: 0px 70px;
  font-family: ptsansbold, arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price {
  position: relative;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 44px;
  margin-right: 56px;
  padding: 12px 10px 12px 36px;
  color: #ffffff;
  background-color: #ee3643;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 20px solid  #ee3643;
}

.new-perforator {
  position: relative;
}

.new-perforator::before {
  content: "";
  position: absolute;
  left: 160px;
  width: 60px;
  height: 60px;
  background: url("../img/new-flag.png") no-repeat;
  background-position: 0 0;
}

.buttons {
  display: none;
  margin: 0;
  padding: 0;
}

.buttons button {
  font-size: 14px;
  text-transform: uppercase;
}

.buy {
  position: relative;
  width: 136px;
  margin-top: 44px;
  margin-right: 42px;
  margin-left: 42px;
  margin-bottom: 0px;
  padding: 12px 0;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px rgba(54,115,21,1);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.buy::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 16px;
  height: 16px;
  background: url("../img/icon-cart.png") no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.buy:hover::before {
  opacity: 1;
}

.buy:hover, .buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #367315;
}

.in-bookmarks {
  width: 136px;
  margin: 0 42px;
  margin-top: 8px;
  margin-bottom: 39px;
  padding: 12px 0;
  background-color: #ffffff;
  color: #32425c;
  box-shadow: inset 0px 0px 0px 3px rgba(99,166,62,1);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.in-bookmarks:hover, .in-bookmarks:focus {
  box-shadow: inset 0px 0px 0px 3px rgba(50,66,92,1);
}

.in-bookmarks:active {
  opacity: 0.3;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  min-height: 330px;
  margin: 0 auto;
  margin-bottom: 84px;
  padding: 0;
  list-style: none;
}

.brand {
  width: 220px;
  height: 144px;
  min-height: 144px;
  margin-top: 20px;
  box-shadow: inset 0px 0px 0px 1px rgba(234,234,234,1);
  cursor: pointer;
}

.brands-focus {
  display: block;
  width: 220px;
  height: 144px;
  outline: none;
}

.brand:hover, .brands-focus:focus {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.logo-bosch {
  background: url("../img/logo-bosch.png") no-repeat center;
}

.logo-makita {
  background: url("../img/logo-makita.png") no-repeat center;
}

.logo-dewalt {
  background: url("../img/logo-dewalt.png") no-repeat center;
}

.logo-interscol {
  background: url("../img/logo-interscol.png") no-repeat center;
}

.logo-hitachi {
  background: url("../img/logo-hitachi.png") no-repeat center;
}

.logo-lg {
  background: url("../img/logo-lg.png") no-repeat center;
}

.logo-aeg {
  background: url("../img/logo-aeg.png") no-repeat center;
}

.logo-metabo {
  background: url("../img/logo-metabo.png") no-repeat center;
}

.delivery-credit {
  margin: 0px;
  padding: 0px;
  font-family: cuprum, arial, sans-serif;
  font-size: 21px;
  list-style: none;
  color: #ffffff;
}

.services-delivery {
  background-color: #f4f8fa;
}

.services-inner {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.services {
  margin: 0px;
  margin-top: 84px;
  padding-top: 64px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 800px;;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-text {
  margin-top: 24px;
  margin-bottom: 0px;
  padding: 0px;
  padding-right: 230px;
  font-family: ptsans, arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.waranty-text {
  margin-left: 80px;
}

.warranty-credit {
  margin: 0px;
  margin-left: 80px;
  padding: 0px;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 72px;
  width: 940px;
}

.advantages {
  position: relative;
  width: 240px;
  margin-bottom: 98px;
}

.advantages::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 272px;
  top: -35px;
  right: 0px;
  background: url("../img/shadow-credit.png") no-repeat;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 240px;
  color: #ffffff;
  overflow: hidden;
}

.advantages-list label:hover,
.advantages-list input[type=radio]:checked + label:hover {
  color: inherit;
  background-color: #293449;
}

/*убирает значок радиокнопки*/
.advantages-list input[type=radio] {
  display: none;
}

.advantages-list label {
  display: block;
	cursor: pointer;
	padding: 20px;
  padding-right: 60px;
	user-select: none;
  background-color: #32425c;
  box-shadow: 0px -1px 0px 0px rgba(41, 52, 73, 1) inset, 0px 1px 0px 0px rgba(64, 80, 105, 1) inset;
}

.advantages-list input[type=radio]:checked + label {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}

.advantages-inner {
  width: 700px;
}

.delivery-block {
  display: none;
  min-height: 278px;
  background: url("../img/delivery-img.png") no-repeat right top 28px;
}

.delivery-block-show {
  display: block;
}

.warranty-block {
  display: none;
  min-height: 278px;
  background: url("../img/warranty-img.png") no-repeat right;
}

.warranty-block-show {
  display: block;
}

.credit-block {
  display: none;
  min-height: 278px;
  background: url("../img/credit-img.png") no-repeat right;
}

.credit-block-show {
  display: block;
}

.ticket-button {
  width: 196px;
  height: 40px;
  margin-top: 27px;
  margin-left: 80px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff5357;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.container-company-map {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 536px;
  margin: 0 auto;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 540px;
  min-height: 536px;
}

.company-contacts {
  margin-top: 76px;
  margin-bottom: 0px;
  padding-right: 170px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color:inherit;
}

.true-man-text, .paragraph-two {
  font-family: ptsans, arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.true-man-text { /*текст должен быть шире!*/
  margin: 0;
  margin-top: 24px;
  padding-right: 18px;
}

.paragraph-two { /*текст должен быть шире!*/
  margin-top: 24px;
  margin-bottom: 0px;
}

.transport-company {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 18px;
  list-style: none;
}

.transport-list {
  position: relative;
  padding-left: 36px;
  margin: 19px;
  margin-left: 0px;
}

.transport-company li:last-child {
  margin-bottom: 0px;
}

.transport-list::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.close-button {
  display: none;
  cursor: pointer;
}

.about-button {
  margin-top: 36px;
  margin-right: 320px;
  margin-bottom: 84px;
  padding: 12px 38px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.contacts-map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  min-height: 536px;
}

.mini-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 32px;
  background: url("../img/mini-map.jpg") no-repeat;
  cursor: pointer;
}

.mini-map:focus {
  outline: 3px solid #ee3643;
}

.feedback-button {
  margin-top: 36px;
  margin-bottom: 84px;
  padding: 12px 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.footer {
  background-color: #32425c;
  color: #ffffff;
}

.footer-inner { /*красиво, но неправильно*/
  display: flex;
  /*justify-content: space-between;*/
  width: 940px;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
}

.footer-logo {
  width: 220px;
  color: inherit;
  text-decoration: none;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
}

.second-logo {
  margin: 0;
  padding: 16px 40px 12px 40px;
  color: #f1f5f7;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.footer-address {
  width: 330px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 48px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 38px;
  padding: 0;
  list-style: none
}

.footer-nav a {
  font-size: 18px;
}

.footer-navigation {
  margin-left: 58px;
  text-decoration: none;
  color: #f1f5f7;
}

.footer-navigation:hover, .materials-offers:hover {
  text-decoration: underline;
}

.footer-navigation:active {
  margin-left: 58px;
  color: #a4abb4;
  text-decoration: none;
}

.materials-offers {
  margin-left: 54px;
  text-decoration: none;
  color: #ffd180;
}

.materials-offers:active {
  color: #a6906e;
  text-decoration: none;
}

.bottom-line-background {
  color: #ffffff;
  background-color: #293449;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.bottom-line h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.bottom-line a {
  font-size: 16px;
  color: #ffd180;
  text-decoration: none;
}

.copyring-text {
  width: 240px;
  margin: 0;
  padding: 36px 0;
  font-size: 16px;
  line-height: 18px;
}

.social-inner {
  display: flex;
  justify-content: flex-start;
  width: 150px;
  margin: 0;
  margin-left: 150px;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 28px;
  list-style: none;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.social-link:hover, .social-link:active {
  background-color: #ee3643;
}

.vk-link {
  background-image: url("../img/vk-icon.png");
}

.facebook-link {
  background-image: url("../img/fb-icon.png");
}

.instagram-link {
  background-image: url("../img/instagram-icon.png");
}

.feedback-container {
  width: 140px;
  margin: 0;
  margin-left: 100px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 0;
}

.copyring-container {
  margin-left: 20px;
  padding: 36px 28px;
  padding-right: 12px;
}

.feedback-link {
  color: #ffd180;
  text-decoration: none;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-form { /*height: 424px;*/
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 620px;
  color: #000000;
  margin: 0 auto;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75), 0px -7px 0px 0px rgba(255,82,87,1);
}

.feedback-form-show {
  display: block;
}

.feedback-form p {
  font-size: 18px;
  margin: 0;
}

.feedback-form textarea {
  width: 442px;
  height: 104px;
  margin-top: 12px;
  padding-top: 12px;
  line-height: 18px;
  resize: none;
}

.visually-hidden {
  display: none;
}

.name {
  margin-top: 44px;
}

.feedback-form input {
  width: 200px;
  height: 30px;
  margin-top: 12px;
}

.feedback-form textarea {
  padding: 14px;
}

.letter-text {
  margin-top: 20px;
}

.form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 80px;
}

.input-windows {
  padding: 0;
  padding-left: 14px;
  font-family: ptsans, arial, sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  border-radius: 4px;
  border: 2px solid #d7dcde;
}

.input-windows:hover {
  border: 2px solid #b5b5b5;
}

.input-windows:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.send-field {
  margin-top: 32px;
  background-color: #f1f1f1;
}

.about-feedback {
  margin: 36px 80px;
  padding: 12px 200px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.close-button, .close-map-button {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.close-button:before,
.close-map-button::before,
.close-button:after,
.close-map-button::after  {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 27px;
  height: 4px;
  background: #ee3643;
  border-radius: 2px;
}

.close-button:before,
.close-map-button:before {
  transform: rotate(45deg);
}

.close-button:after,
.close-map-button::after {
  transform: rotate(-45deg);
}

.big-map-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 940px;
  height: 446px;
}

.big-map-form-show {
  display: block;
}
