@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cuprumbold';
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cuprumbolditalic';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'cuprumitalic';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ptsans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsansbold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: cuprum, arial, sans-serif;
}

.top-line {
  background-color: #293449;
}

.top-line-inner { /*flex 1*/
  display: flex;
  justify-content:flex-start;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  /*min-height: 42px;*/
  color: #ffffff;
}

.logo {
  text-decoration: none;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}

.logo-text {
  /*на макете везде разные данные*/
  margin: 0;
  padding: 10px 56px 8px 56px; /*не верно*/
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #f1f5f7;
}

.top-links {
  font-size: 17px;
}

/*убирает крестик в поле input*/
.search-field::-webkit-search-cancel-button {
  display: none;
 }

.search-field {
  width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  display: block;
  flex-grow: 1;
  background-color: #293449;
  background: url("../img/icon-search.png") no-repeat left 16px center;
  border: none;
}

.search-field::placeholder {
  font-size: 17px;
  color: #ffffff;
}

.search-field:focus::placeholder {
  color: #000000;
}

.search-field:hover {
  background: url("../img/icon-search-hover.png") no-repeat left 16px center;
}

.search-field:focus {
  outline: none;
  background: url("../img/icon-search-focus.png") no-repeat left 16px center;
  background-color: #ffffff;
}

.bookmarks {
  padding: 12px 28px;
  padding-left: 44px;
  color: inherit;
  text-decoration: none;
  display: block;
  background: url("../img/icon-bookmark.png") no-repeat left 16px center;
}

.bookmarks:hover {
  background: url("../img/icon-bookmark-hover.png") no-repeat left 16px center;
  background-color: #212a3a;
}

.bookmarks:active {
  background: url("../img/icon-bookmark-active.png") no-repeat left 16px center;
  color: #babbbd;
}

.cart {
  padding: 12px 28px;
  padding-left: 48px;
  display: block;
  color: inherit;
  text-decoration: none;
  background: url("../img/icon-cart.png") no-repeat left 16px center;
}

.cart:hover {
  background: url("../img/icon-cart-hover.png") no-repeat left 16px center;
  background-color: #212a3a;
}

.cart:active {
  background: url("../img/icon-cart-active.png") no-repeat left 16px center;
  color: #babbbd;
}

.order {
  display: block;
  padding: 12px 20px;
  background-color: #63a63e;
  color: inherit;
  text-decoration: none;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.checkin-block {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: #f4f7f9;
}

.second-line { /*flex 2*/
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.store-text {
  width: 200px; /*нужно ли?*/
  margin: 0;
  margin-left: 52px;
  font-family: cuprumitalic, arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-number {
  margin: 0px;
  background: url("../img/icon-phone.png") no-repeat left 12px center;
  border: 3px solid #ffffff; /*не тень, потому что ширина поля 264px*/
}

.phone-text {
  display: block;
  padding: 8px 48px;
  padding-left: 68px;
  font-size: 21px;
  color: #ee3643;
  text-decoration: none;
}

.address {
  margin: 8px;
  font-size: 14px;
  color: #32425c;
}

.enter-registration { /*flex 3*/
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 21px;
  color: #000000;
  list-style: none;
}

.enter-button {
  display: block;
  padding: 12px 24px;
  padding-left: 48px;
  background: url("../img/icon-login.png") no-repeat left 16px center;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.enter-button:hover {
  background: url("../img/icon-login-hover.png") no-repeat left 16px center;
  background-color: #ffffff;
  color: #ee3643;
}

.enter-button:active {
  background: url("../img/icon-login.png") no-repeat left 16px center;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}

.enter-button:focus { /*работает не верно!*/
  /*outline: 1px solid #000000;*/
}

.registration-button {
  display: block;
  margin-left: 8px; /*10px*/
  padding: 12px 24px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.registration-button:hover {
  color: #ee3643;
}

.registration-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-links { /*flex 4*/
  display: flex;
  justify-content: space-around;
  width: 940px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0px 0px rgba(41,52,73,1);
  list-style: none;
}

.nav-button {
  flex-grow: 1;
}

.top-navigation {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.top-navigation:hover {
  background-color: #293449;
}

.top-navigation:active {
  background-color: #293449;
  color: #a8abaf;
}

.main-content {
  /*тест разрыва старницы*/
  /*background-color: #22b7c2;*/
  background-color: #ffffff;
}

.product-inner {
  padding-top: 60px;
  /*margin-top: 60px;*/ /*разрывает страницу*/
}

.product-list { /*flex 5*/
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.main-links {
  margin-left: 24px;
  margin-bottom: 16px;
  font-family: cuprumbold, arial, sans-serif;
  font-size: 24px;
}

.materials-text {
  display: block;
  width: 136px;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 16px; /*дубль main-links*/
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.materials-icon {
  background: url("../img/materials-icon.png") no-repeat right 42px center,
  url("../img/new-flag.png") no-repeat top right;
}

.instrumens-icon {
  background: url("../img/instrumens-icon.png") no-repeat right 28px center;
}

.technics-icon {
  background: url("../img/technics-icon.png") no-repeat right 28px center;
}

.slider-block { /*flex 7*/
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 48px;
}

.slider {
  width: 620px;
}

.discount-list { /*flex 6*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.discounts-icon {
  background: url("../img/discounts-icon.png") no-repeat right 44px center;
}

.delivery-icon {
  background: url("../img/delivery-icon.png") no-repeat right 32px center;
}

.discount {
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  background-color: #8ed78f;
}

.discount:nth-child(2) {
  background-color: #ffc047;
}

.product {
  width: 300px;
  background-color: #ffbf47;
}

.product:nth-child(2) {
  background-color: #3bbce3;
}

.product:nth-child(3) {
  background-color: #dc91d8;
}

.materials-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.materials-text:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-brands { /*flex 8*/
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.popular-text {
  width: 632px;
  margin: 0px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  font-size: 30px;
  color: #32425c;
}

.popular-link {
  width: 252px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 4px;
}

.popular-link:hover {
  background-color: #ca2c37;
}

.popular-link:active {
  background-color: #ba2732;
}

.perforator-list { /*flex 9*/
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 316px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.perforator { /*flex 10*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  min-height: 316px;
  box-shadow: 0px 0px 0px 1px rgba(234,234,234,1); /*при inset тень закрыта flex`ом*/
}

.perforator-name {
  margin: 0;
  padding-right: 32px;
  padding-left: 28px;
  font-family: ptsansbold, arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

/*.perforator-img {
}*/

.perforator:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.perforator:hover .buttons {
  display: block;
}

.perforator:hover .perforator-img {
  display: none;
}

.perforator:hover .old-price {
  display: none;
}

.old-price {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: ptsansbold, arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price {
  width: 140px;
  margin: 0;
  margin-right: 36px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: ptsansbold, arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 4px;
}

.new-perforator { /*неверное расположение текста*/
  display: flex;
  justify-content: space-between;
  width: 220px;
  background: url("../img/new-flag.png") no-repeat top right; /*упала под картинку*/
}

.buttons {
  display: none;
  margin-top: 44px;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 40px;
}

.buy {
  width: 136px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: url("../img/icon-buy.png") no-repeat left 12px center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px 0px rgba(54,115,21,1);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.buy:hover, .buy:focus {
  background: url("../img/icon-buy-hover.png") no-repeat left 12px center;
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #367315;
}

.in-bookmarks { /*откорректировать размер*/
  width: 136px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 0px 3px rgba(99,166,62,1);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.in-bookmarks:hover {
  box-shadow: inset 0px 0px 0px 3px rgba(50,66,92,1);
}

.in-bookmarks:active {
  opacity: 0.3;
}

.brands-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /*для сетки*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  height: 308px;
  min-height: 308px;
  margin-bottom: 84px;
}

.brand {
  box-shadow: inset 0px 0px 0px 1px rgba(234,234,234,1);
  /*для сетки*/
  width: 220px;
  height: 144px;
  min-height: 144px;
  cursor: pointer;
}

.brand:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.logo-bosch {
  background: url("../img/logo-bosch.png") no-repeat center;
}

.logo-makita {
  background: url("../img/logo-makita.png") no-repeat center;
}

.logo-dewalt {
  background: url("../img/logo-dewalt.png") no-repeat center;
}

.logo-interscol {
  background: url("../img/logo-interscol.png") no-repeat center;
}

.logo-hitachi {
  background: url("../img/logo-hitachi.png") no-repeat center;
}

.logo-lg {
  background: url("../img/logo-lg.png") no-repeat center;
}

.logo-aeg {
  background: url("../img/logo-aeg.png") no-repeat center;
}

.logo-metabo {
  background: url("../img/logo-metabo.png") no-repeat center;
}

.delivery-credit {
  font-family: cuprum, arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  list-style: none;
}

.services-delivery {
  background-color: #f4f8fa;
}

.services-inner {
  display: block;
  width: 940px;
  margin: 0 auto;
  padding-top: 68px;
}

.services {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0px;
}

.services-text {
  font-family: ptsans, arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: inherit;
  margin-top: 0px;
  margin-bottom: 36px;
}

.warranty-credit {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.ticket-button {
  width: 196px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff5357;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.container-company-map {
  margin: 0 auto;
  width: 940px;
  height: 536px;
  min-height: 536px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  color: #000000;
  margin: 0 auto;
  width: 640px;
  height: 536px;
  min-height: 536px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*не сработало*/
}

.about-us-inner {
  width: 640px;
  height: 412px;
}

.company-contacts {
  color:inherit;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 36px;
}

.paragraph-two {
  margin-bottom: 16px;
}

.transport-company {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  padding: 0;
}

.transport-list {
  background: url("../img/red-dash.png") no-repeat left;
  padding-left: 36px;
  margin: 18px;
}

.close-button {
  cursor: pointer;
}

.about-button {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 220px;
  height: 42px;
  margin-top: 40px;
  line-height: 42px;
}

.contacts-map {
  /*color: #000000;*/
margin: 0 auto;
width: 300px;
height: 536px;
min-height: 536px;
display: flex;
}

.feedback-button {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 300px;
  height: 42px;
  margin-top: 40px;
}

.footer {
  background-color: #32425c;
  color: #ffffff;
}

.footer-inner {
  display: flex;
  width: 940px;
  min-height: 192px;
  margin: 0 auto;
}

.footer-text {
  width: 388px;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  color: inherit;
  text-decoration: none;
  display: block;
  box-shadow: inset 0px -5px 0px 0px rgba(181,41,51,1);
  padding-top: 2px;
}

.second-logo {
  color: #f1f5f7;
  font-size: 24px;
  line-height: 42px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 552px;
  min-height: 192px;
  margin: 0;
  padding: 0;
  list-style: none
}

.footer-navigation { /*пережедать блок. марджин лефт-райт не должны испоьзоваться, потому что начало блока от линии социальных сетей, а конец - это край страницы*/
  margin-top: 40px;
  margin-left: 15px;
  color: #f1f5f7;
  font-size: 18px;
  line-height:24px;
  text-decoration: none;
}

.footer-navigation:hover {
  text-decoration: underline;
}

.footer-navigation:active {
 color: #a4abb4;
 text-decoration: none;
}

.materials-offers {
  /*margin-top: 40px;*/
  margin-left: 15px;
  color: #ffd180;
  font-size: 18px;
  text-decoration: none;
}

.materials-offers:hover {
  text-decoration: underline;
}

.materials-offers:active {
  color: #a6906e;
  text-decoration: none;
}

.footer-address {
font-size: 18px;
line-height: 24px;
margin-top: 28px;
}

.bottom-line-background {
  font-size: 16px;
  color: #ffffff;
  background-color: #293449;
}

.bottom-line {
  /*для сетки*/
  margin: 0 auto;
  display: flex;
  width: 940px;
  height: 108px;
  display: flex;
}

.copyring-text {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  /*для сетки*/
  width: 260px;
  min-height: 108px;
  margin: 0;
  padding-top: 36px;
}

.social-inner {
  list-style: none;
  /*для сетки*/
  margin: 0;
  padding: 0;
  width: 132px;
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  margin-right: 116px;
  margin-left: 124px;
}

.social-link {
  background-color: #212a3a;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-link:hover, .social-link:active {
  background-color: #ee3643;
}

.vk-link {
  background-image: url("../img/vk-icon.png");
}

.facebook-link {
  background-image: url("../img/fb-icon.png");
}

.instagram-link {
  background-image: url("../img/instagram-icon.png");
}

.feedback-container {
  /*для сетки*/
  width: 188px;
  height: 108px;
  min-height: 108px;
  }

.copiring-container {
  /*для сетки*/
  width: 122px;
  height: 108px;
  min-height: 108px;
  margin-left: auto;
  }

.copyring-developed {
  font-size: 16px;
  color: inherit;
  margin-top: 36px;
  margin-bottom: 0;
}

.feedback-link {
  color: #ffd180;
  text-decoration: none;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-form {
  background-color: #ffffff;
  display:block;
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75), /*вписать вторую тень*/
  color: #000000;
  font-size: 18px;
  text-align: left;
}

.input-windows {
  font-family: ptsans, arial, sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  border-radius: 4px;
  border: 2px solid #d7dcde;
}

.input-windows:hover {
  border: 2px solid #b5b5b5;
}

.input-windows:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.send-field: {
  background-color: #f1f1f1;
  /*сделать красную полоску вверху*/
}
